<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Помощник Повара</title>
</head>
<body>
<a href="../">Начать заново</a>
<h2>Введите Ваш рецепт</h2>
<h4>Введите каждый ингридиент в новой строке</h4>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.recipe(cols="70", rows="20") }}
    <br>
    {{ form.submit() }}
</form>
<br>
{% if not_empty %}
Рейтинг: {{ rating }} / 5
<br>
Сложность: {{ difficulty }}
<br>
{% if add_ings %}
Можно добавить: <br>
ML подход: {{ add_ings }} <br>
Графовый подход: {{ add_ings_graph }} <br>
<!--{% for ing in add_ings %}-->
<!--{{ ing }}-->
<!--{% endfor %}-->
{% endif %}
{% if remove_ingrid %}
Можно убрать: {{ remove_ingrid }}
<br>
{% endif %}
<img src="app/static/net_rec.jpg" width="70%" height="auto">
{% endif %}
</body>
</html>